/**---------------------------------------------------------------------*/
body		{background-color: #262626;}

#content	{background-color: #262626;
			margin: 0% auto;}
/**---------------------------------------------------------------------*/	
	
/**---------------------------------------------------------------------*/	
#nav_bar	{background-color: #D0CECE;
			position: relative;
			height: 85px;
			background-image: url("../images/general/lloyds_group_logo.png");
			background-position: left;
			background-size: 157px 85px;
			background-repeat: no-repeat;}
#nav_bar ul	{margin: 5px;
			text-align: right;
			position: relative;
			top: 20px;}
#nav_bar ul li	{display: inline;
			font-family: Century Gothic;
			font-size: 30px;
			text-decoration: bold;
			margin: 10px;}
			
#nav_bar li a
{
	text-decoration:none;
	color: #000000;
}

#nav_bar li a:hover{
	color:#000000;
}
/**---------------------------------------------------------------------*/		

/**---------------------------------------------------------------------*/	
#box1, #box2, #box3	{width: 1450px;
					height: 400px;
					margin: 100px auto;
					color: #FFFFFF;
					/*border: 1px solid black;*/}

p.title	{font-family: Century Gothic;
		font-size: 40px;
		font-weight: bold;
		color: #FFFFFF;
		background-color: #0B8C52;
		margin-bottom: 0px;
		padding: 5px 20px;
		width: 400px;
		height: 100px;}

#manage_child_account, #set_goals, #choose_atms	{width: 1450px;
												height: 300px;
												background-color: #5B6562;
												border: 5px solid #0B8C52;}
												
#manage_child_account	{vertical-align: middle;}

/**---------------------------------------------------------------------*/	

/**---------------------------------------------------------------------*/	
form#manage_child_account p	{font-family: Century Gothic;
							font-weight: bold;
							font-size: 30px;
							margin: 30px;}	
							
#child_accounts, #transfer	{width: 450px;
							float: left;
							margin-left: 50px;}
							
#child_accounts	{position: relative;
				top: 60px;}	
											
#transfer	{height: 300px;
			border-left: 3px solid #0B8C52;}											

#transfer	p	{position: relative;
				top: 20px;
				text-align: right;}
										
#transfer p input	{height: 30px;
				width: 200px;
				vertical-align: middle;}
								
#transfer input.make_tranfser	{background-color: #0B8C52;
							width: 305px;
							height: 45px;
							font-family: Century Gothic;
							font-size: 30px;
							font-style: italic;
							font-weight: bold;
							color: #FFFFFF;
							position: relative;
							top: -130px;
							left: 530px;}
/**---------------------------------------------------------------------*/	

/**---------------------------------------------------------------------*/	
form#set_goals p	{font-family: Century Gothic;
				font-weight: bold;
				font-size: 25px;
				margin: 30px;}
				
#set_limit, #completed_goals, #new_goal	{width: 480px;
										height: 300px;
										float: left;
										/*border: 1px solid black;*/}
										
#set_limit p input	{height: 29px;
					margin: 10px;
					width: 300px;
					vertical-align: middle;}	
					
#set_limit input.set_limit	{background-color: #0B8C52;
							height: 35px;
							font-family: Century Gothic;
							font-size: 20px;
							font-style: italic;
							font-weight: bold;
							color: #FFFFFF;}
							
#completed_goals textarea	{margin: 5px 90px;}
#completed_goals	{border-left: 4px solid #0B8C52;
					border-right: 4px solid #0B8C52;}

#new_goal	p {text-align: right;}

#new_goal p input	{height: 30px;
				width: 230px;
				vertical-align: middle;}
				
#new_goal input.set_new_goal	{background-color: #0B8C52;
							height: 40px;
							width: 400px;
							font-family: Century Gothic;
							font-size: 25px;
							font-style: italic;
							font-weight: bold;
							color: #FFFFFF;}

#set_limit p, #completed_goals textarea, #new_goal p	{position: relative;
													top: 30px;}
/**---------------------------------------------------------------------*/	

/**---------------------------------------------------------------------*/	
form#choose_atms p	{font-family: Century Gothic;
					font-size: 25px;
					margin: 70px 55px;
					float: left;}
form#choose_atms p.prompt	{font-weight: bold;
							position: relative;
							top: 80px;}

input.select_atms	{background-color: #0B8C52;
				height: 40px;
				width: 350px;
				font-family: Century Gothic;
				font-size: 25px;
				font-style: italic;
				font-weight: bold;
				color: #FFFFFF;
				position: relative;
				top: 60px;}

/**---------------------------------------------------------------------*/	

/**---------------------------------------------------------------------*/			 
#footer	{background-color: #D0CECE;
		margin: 10px auto;
		height: 30px;
		font-size: 90%;}
#footer ul	{text-align: right;}
#footer ul li	{display: inline;
			font-family: Century Gothic;
			font-size: 20px;
			color: #395835;
			margin: 10px;}			 
/**---------------------------------------------------------------------*/