@charset "utf-8";
/* CSS Document */
#content {
	margin-left: auto;
    margin-right: auto;
	width: 1055px;
	background-color:rgb(179,162,199); 
	color:#FFFFFF
	}
	
#nav_bar	{
			position: relative;
			height: 85px;
			width: 1055px;
			top:0px;
			background-image:url("../images/lloyds_group_logo.png");
			background-position: left;
			background-size: 157px 85px;
			background-repeat: no-repeat;
			}
#nav_bar ul	{
			margin: 5px;
			text-align: right;
			position: relative;
			top: 20px;}
#nav_bar ul li	{
			display: inline;
			font-family: Calibri;
			font-size: 30px;
			margin: 10px;}

#nav_bar li a{
	text-decoration:none;
}
#nav_bar li a:hover{
	color:#000000;
}
	
#body{
	background-color:rgb(96,74,123);
	margin-left: auto;
    margin-right: auto;
	height:1000px; 
	width:1055px;

	}	
#bottom{
		height:30px;
		position:relative;
		left:0px;
		bottom:-43px;
	}
	
#bottom_bar{
	position:relative;
	text-align: right;
	background-color:rgb(179,162,199);
	height:30px;
	margin-top:-43px;
	margin-bottom:-20;
	list-style:none;
	padding:0;
	width:1055px;
	font-size:90%;
}	

#bottom_bar li
{
display:inline;
}

#bottom_bar li a
{
	position:relative;
	top:8px;
	right: 30px;
	padding:10px 10px;
	color:rgb(96,74,123);
	font-size:90%;
	font-family:calibri;
}

#picture
{
position:relative;
top:0px;
}
#ph 
{
position:absolute;
top: 170px;
left: 75px;
}

#ph img {border-radius: 100px;}

#name
{
position:absolute;
background-color:white;
top:50px;
left:250px;
color:rgb(64,49,82);
font-family: Arial Black;
font-size:200%;
width: 270px;
filter:alpha(Opacity=70);-moz-opacity:0.7;opacity: 0.7;
}

#buttons input.change, input.edit, input.change_color
{
width:150px;
height:60px;
font-weight:bold;
font-style:italic;
font-family: Calibri(body);
}

#buttons input.change_color
{
width: 300px;
white-space:pre;
}

#buttons 
{
position:relative;
top:10px;
left:300px;
}

#profile > p{
position:relative;
text-align: right;
margin-right: 300px;
margin-top: 50px;
font-variant: small-caps;
}

#profile input {width: 250px;}



body{
background-color:#D8FFD0;
}


